# APP BASE
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
PORT=3008
JWT_SECRET=bananas_de_pijamas
FRONTEND_BASE_URL="http://localhost:3000"

# CORS
CORS_ORIGINS="http://localhost:3000,https://www.adventistgroei.nl"

# MAIL
SENDGRID_API_KEY=""
SENDGRID_EMAIL=""
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_senha_de_aplicativo

# LOGGER
NODE_ENV=
APP_VERSION=

GOOGLE_SERVICE_ACCOUNT_KEY_PATH="./config/service-account-key.json"
GOOGLE_DRIVE_ROOT_FOLDER_ID="<cole-aqui-o-folder-id-copiado>"

# POSTCODE API (PostcodeAPI.nu)
POSTCODES_API_KEY=YOUR_KEY_HERE
POSTCODES_API_URL=https://api.postcodeapi.nu/v3/lookup

# SEEDS DE PRODUÇÃO
SEED_ADMIN_EMAIL="admin@adventistgroei.nl"
SEED_ADMIN_PASSWORD="change_this_password"
SEED_DEVELOPER_EMAIL="developer@adventistgroei.nl"
SEED_DEVELOPER_PASSWORD="change_this_password"