# APP BASE
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"
PORT=3008
JWT_SECRET=bananas_de_pijamas
FRONTEND_BASE_URL="http://localhost:3000"

# CORS
CORS_ORIGINS="http://localhost:3000,https://www.adventistgroei.nl"

# MAIL
SENDGRID_API_KEY=""
SENDGRID_EMAIL=""
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=sua_senha_de_aplicativo

# LOGGER
NODE_ENV=
APP_VERSION=